@import "../ix-variables";
@import "../ix-mixins";
@import "../material-colors";

$transition-function: cubic-bezier(0.23, 1, 0.32, 1);
$header-lighten-percent: 45%;

.ix-autosuggest{
  position: absolute;
  opacity: 0;
  z-index: 3;
  background: $white;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 1px 1px 8px -2px $grey400;
  text-align: left;
  border-bottom-right-radius: 5px;
  min-width: 150px;
  max-width: 800px;
  max-height: 600px;
  transform: translate3d(0px, -5px, 0);
  transition: all 450ms $transition-function 0ms;

  .autosuggest-item{
    border-left: 2px solid $textGrey;
    padding: 10px 15px;
    cursor: pointer;
    @include text-overflow();

    &.highlighted{
      background: $backgroundGrey;
      position: relative;

      &:before{
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-left: 2px solid $textGrey;
      }
    }
    &.product{
      border-color: $product;
      &.highlighted{
        color: $product;
        &:before{
          border-color: $product;
        }
      }
    }
    &.brand{
      border-color: $brand;
      &.highlighted{
        color: $brand;
        &:before{
          border-color: $brand;
        }
      }
    }
    &.category{
      border-color: $category;
      &.highlighted{
        color: $category;
        &:before{
          border-color: $category;
        }
      }
    }
    &.store{
      border-color: $store;
      &.highlighted{
        color: $store;
        &:before{
          border-color: $store;
        }
      }
    }
    &.all{
      text-transform: uppercase;
      font-weight: 200;
      &.highlighted{
        text-decoration: underline;
        &:before{
          border-color: $textGrey;
        }
      }
    }
  }

  .autosuggest-header{
    padding: 6px 12px 4px;
    border-left: 5px solid $textGrey;
    background: $backgroundGrey;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    @include text-overflow();

    &.product{
      border-color: $product;
      background: lighten($product, $header-lighten-percent);
    }
    &.brand{
      border-color: $brand;
      background: lighten($brand, $header-lighten-percent);
    }
    &.category{
      border-color: $category;
      background: lighten($category, $header-lighten-percent);
    }
    &.store{
      border-color: $store;
      background: lighten($store, $header-lighten-percent);
    }
  }
}
