@import "../ix-variables";
@import "../ix-mixins";

.ix-products-listing{
  margin-top: 40px;

  .products-listing-header{
    @include ix-box;
    margin: 0 20px 40px;
    padding: 15px 20px;
    border-bottom: 2px solid $primaryColor;

    .product-count{
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing:0.25px;
      display: inline-flex;
      #small{
        padding-left:5px;
        letter-spacing:0.25px;
      }
    }
    p{
      display: inline-flex;
      float: right;
      text-transform: uppercase;
      font-weight: 500;
      padding-right: 20px;
    }
    .ix-dropdown{
      width: 200px;
      float: right;
      display: inline-flex;
      margin-top: -8px;
      margin-right: 40px;
      &:after{
        top: 7px;
      }
      .value{
        padding: 7px 10px 7px 10px;
      }
    }
    .ix-text-block{
      display: inline-flex;
      float: right;
      .ix-text-input{
        width: 200px;
        height: 35px;
        margin-top: -8px;
      }
    }
  }

  .product-listing-item{
    float: left;
    padding: 0 20px;
    margin-bottom: 40px;

    .product-listing-item-container{
      @include ix-box;

      .product-listing-item-image-container{
        display: block;
        padding: 30px 20%;
        text-align: center;
        border-bottom: 1px solid $borderGrey;
        height: 220px;
        overflow: hidden;
        img{
          max-width: 100%;
        }
      }
      .product-listing-item-data-container{
        height: 90px;
        margin: 20px;
        .title{
          display: block;
          color: $textBlack;
          font-weight: 500;
          min-height: 38px;
          max-height: 38px;
          overflow: hidden;
          display: block;
        }
        .price{
          padding: 10px 0px;
          font-weight: 500;
          color: $price-red;
        }
        .store-count{
          color: $primaryColor;
          font-size: 12px;
        }
      }
    }
  }
  .products-loader{
    .loader-container{
      // bottom: 5px;
    }
  }
}
