@import "../ix-variables";
@import "../ix-mixins";

.ix-tabs{
  min-height: 500px;
  > .nav-tabs {
    background: $grey100;
    border-bottom: 2px solid $primaryColor;
    border-top: 1px solid $grey300;
    > li{
      &.active {
        border-bottom: 4px solid $primaryColor;

        > a, > a:hover, > a:focus{
          background: none;
          border: none;
          border-right: 1px solid $grey300;
          color: $primaryColor;
          font-weight: bold;
        }
      }

      > a{
        color: $textBlack;
        min-width: 200px;
        border-radius: 0;
        border: none;
        border-right: 1px solid $grey300;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px 0;

        &:hover{
          background: none;
          color: $primaryColor;
        }
      }
    }
  }
}
