extends ../layout

block content
  .jumbotron.header
    .container
      .row
        .col-sm-12
          h1 Product Card
          h4.lead To showcase product tiles
          
  .container
    .row
      .col-sm-12
        h4 3 per row
        hr
      #product-card-example-1.col-sm-4
        // Container to render example
      #product-card-example-2.col-sm-4
        // Container to render example
      #product-card-example-3.col-sm-4
        // Container to render example
        
      .col-sm-12
        br
        h4 4 per row
        hr
      #product-card-example-4.col-sm-3
        // Container to render example
      #product-card-example-5.col-sm-3
        // Container to render example
      #product-card-example-6.col-sm-3
        // Container to render example
      #product-card-example-7.col-sm-3
        // Container to render example
