#home-hero-section{
  background: url("../images/header-hero-bg.jpg") center center no-repeat;
  height: 400px;
  color: white;
  border-radius: 0;

  h1{
    margin-top: 0.5em;
    font-size: 4em;
  }

  .lead{
    line-height: 1.3em;
  }

  .ix-logo{
    width: 60px;
    margin: -4px 0px 0px 5px;
  }

}

.ix-header-navbar,
.ix-footer-navbar{
  .ix-logo{
    width: 60px;
    margin: -3px 0px 0px 5px;
    display: inline-block;
  }
}
