extends layout

block content
  .jumbotron.header
    .container
      .row
        .col-sm-12
          h1 Contribute to The Vision
          h4.lead Come, join the foce
  .container
    .row
      .col-sm-12
        h2 Getting Started
        hr
      .col-sm-12
        .card.card-block
          h4.card-title More details
          hr
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum.
