@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@mixin ix-red($radius) {
	color: red;
}

@mixin ix-box{
  border: 1px solid $borderGrey;
  border-radius: 4px;
  background: $white;
  box-shadow: $commonBoxShadow;
}
