@import "../bootstrap/variables";
@import "node_modules/bootstrap/scss/mixins";

.product-card{
  height: 27em;
  border: 1px solid #c9c9c9;

  .image{
    text-align: center;
    height: 200px;

    img{
      max-height: 100%;
      max-width: 100%;
      overflow: hidden;
    }
  }

  .info{
    margin-top: 2em;
  }

  .title-wrap{
    height: 2.2em;
    overflow: hidden;
    margin-bottom: 0.2em;
  }

  .brand {
    font-size: 0.85em;
    color: $gray;
    margin-bottom: 1em;
  }

  .offers {
    margin-top: 1em;
    font-size: 0.85em;

    .count {
      color: $brand-primary;
    }
  }

  // if brand exists, it sets a bottom margin
  .brand + .offers {
    margin-top: 0;
  }

  .price{
    color: $brand-danger;
  }

  .stores {
    margin-top: 1em;
    color: $brand-primary;
    font-size: 0.85em;
  }

}
