.jumbotron.header
  .container
    .row
      .col-sm-12
        %h1 Product Card
        %h4.lead To showcase product tiles
.container
  .row
    .col-sm-12
      %h4 Usage
      %hr/
      .card.card-block
        %p The product card is a consistent reperesentation of a product with it's most critical attributes. The display is quite flexible to adapt to most common use cases.
        %p
          %b Code:
        %pre.code
          :preserve
            var productCard = (
              &lt;ProductCard
                type="buy-button"
                title="Asus Zenfone"
                price="$300"
                image="http://img6a.flixcart.com/imae9tftbfdcxzng.jpeg"
                onClick={showMoreInfo}
              /&gt;
            )
            <br/>
            var productCard = (
              &lt;ProductCard
                type="info"
                title=&quot;Asus Zenfone&quot; // (required)
                brand="Asus"
                offers={20}
                price="$300 - $375"
                image="http://img6a.flixcart.com/imae9tftbfdcxzng.jpeg"
                stores={2}
              /&gt;
            )
            <br/>
            ReactDOM.render(productCard, document.getElementById('#product-card-example'));
          .code-type Javascript

    .col-sm-12
      %br/
      %h4 3 per row
      %hr/
    #product-card-example-1.col-sm-4
      / Container to render example
    #product-card-example-2.col-sm-4
      / Container to render example
    #product-card-example-3.col-sm-4
      / Container to render example
    .col-sm-12
      %br/
      %h4 4 per row
      %hr/
    #product-card-example-4.col-sm-3
      / Container to render example
    #product-card-example-5.col-sm-3
      / Container to render example
    #product-card-example-6.col-sm-3
      / Container to render example
    #product-card-example-7.col-sm-3
      / Container to render example
