.jumbotron.header
  .container
    .row
      .col-sm-12
        %h1 Form Elements
        %h4.lead For different forms of input
.main
  .container
    .row
      .col-sm-12
        %h2 Buttons
        %hr/
        .card.card-block
          %h4 Standard Buttons
          %hr/
          %p For most general purpose usage.
          %table.table
            %thead
              %tr
                %th Component
                %th Code
            %tbody
              %tr
                %td
                  %button.btn.btn-primary{:type => "button"} Primary
                %td
                  %code &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;
              %tr
                %td
                  %button.btn.btn-primary.btn-shadow{:type => "button"} Primary shadow
                %td
                  %code
                    :escaped
                      <button type="button" class="btn btn-primary btn-shadow">Primary shadow</button>
              %tr
                %td
                  %button.btn.btn-primary.disabled{:type => "button"} Primary disabled
                %td
                  %code
                    :escaped
                      <button type="button" class="btn btn-primary disabled" disabled>Primary disabled</button>
              %tr
                %td
                  %button.btn.btn-outline-primary{:type => "button"} Primary outlined
                %td
                  %code
                    :escaped
                      <button type="button" class="btn btn-outline-primary">Primary outlined</button>
                %tr
                  %td
                    %button.btn.btn-secondary{:type => "button"} Secondary
                  %td
                    %code &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;Secondary&lt;/button&gt;
        .card.card-block
          %h4 Action Buttons
          %hr/
          %p For specific instances where critical actions happen.
          %table.table
            %thead
              %tr
                %th Component
                %th Code
            %tbody
              %tr
                %td
                  %button.btn.btn-success{:type => "button"} Success
                %td
                  %code &lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot;&gt;Success&lt;/button&gt;
              %tr
                %td
                  %button.btn.btn-info{:type => "button"} Info
                %td
                  %code
                    :escaped
                      <button type="button" class="btn btn-info">Info</button>
              %tr
                %td
                  %button.btn.btn-warning{:type => "button"} Warning
                %td
                  %code
                    :escaped
                      <button type="button" class="btn btn-warning">Warning</button>
              %tr
                %td
                  %button.btn.btn-danger{:type => "button"} Danger
                %td
                  %code &lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Danger&lt;/button&gt;
      .col-sm-12
        %h2
          %br>/
          Input Fields
        %hr/
      .col-sm-12
        .card.card-block
          %h4 Text Input
          %hr/
          %p For specific instances where critical actions happen.
          %form
            %table.table
              %thead
                %tr
                  %th Component
                  %th Code
              %tbody
                %tr
                  %td
                    %fieldset.form-group
                      %label{:for => "example-input-text"} Active
                      %input#example-input-text.form-control{:placeholder => "Enter email", :type => "text"}/
                      %small.text-muted We'll never share your email with anyone else.
                  %td
                    %code
                      \&lt;label for=&quot;example-input-text&quot;&gt;Active&lt;/label&gt;
                      %br>/
                      \&lt;input id=&quot;example-input-text&quot; type=&quot;text&quot; placeholder=&quot;Enter email&quot; class=&quot;form-control&quot;&gt;
                      %br>/
                      \&lt;small class=&quot;text-muted&quot;&gt;We'll never share your email with anyone else.&lt;/small&gt;
                %tr
                  %td
                    %fieldset.form-group
                      %label{:for => "example-input-text"} Disabled
                      %input#example-input-text.form-control{:disabled => "disabled", :placeholder => "Can't enter anything", :type => "text"}/
                  %td
                    %code
                      \&lt;label for=&quot;example-input-text&quot;&gt;Disabled&lt;/label&gt;
                      %br>/
                      \&lt;input id=&quot;example-input-text&quot; type=&quot;text&quot; disabled=&quot;disabled&quot; placeholder=&quot;Can't enter anything&quot; class=&quot;form-control&quot;&gt;
      .col-sm-12
        .card.card-block
          %h4.card-title Radio Buttons
          Radio buttons must always be accompanied by a .c-ix-indicator tag and surrounded by a label.c-ix-radio tag
          %table.table
            %thead
              %tr
                %th Component
                %th Code
            %tbody
              %tr
                %td
                  %label.c-ix-radio
                    %input{:type => "radio", :name => "radio", :checked => "checked"}
                    %span.c-ix-indicator
                %td
                  %code
                    :escaped
                      <label class="c-ix-radio"><input type="radio" /><span class="c-ix-indicator"></span></label>
              %tr
                %td
                  %label.c-ix-radio
                    %input{:type => "radio", :name => "radio"}
                    %span.c-ix-indicator
                    %span.label-text With text
                %td
                  %code
                    :escaped
                      <label class="c-ix-radio"><input type="radio" /><span class="c-ix-indicator"></span><span class="label-text">With text</span></label>
              %tr
                %td
                  %label.c-ix-radio
                    %input{:type => "radio", :name => "radio", :disabled => "disabled"}
                    %span.c-ix-indicator
                    %span.label-text Disabled
                %td
                  %code
                    :escaped
                      <label class="c-ix-radio"><input type="radio" disabled/><span class="c-ix-indicator"></span><span class="label-text">Disabled</span></label>
              %tr
                %td
                  %label.c-ix-radio
                    %input{:type => "radio", :disabled => "disabled", :checked => "checked"}
                    %span.c-ix-indicator
                    %span.label-text Checked Disabled
                %td
                  %code
                    :escaped
                      <label class="c-ix-radio"><input type="radio" disabled checked/><span class="c-ix-indicator"></span><span class="label-text">Checked Disabled</span></label>
        .card.card-block
          %h4.card-title Checkbox
          Checkbox must always be accompanied by a .c-ix-indicator tag and surrounded by a label.c-ix-checkbox tag
          %table.table
            %thead
              %tr
                %th Component
                %th Code
            %tbody
              %tr
                %td
                  %label.c-ix-checkbox
                    %input{:type => "checkbox"}
                    %span.c-ix-indicator
                    %span.label-text Some text
                %td
                  %code
                    :escaped
                      <label class="c-ix-checkbox"><input type="checkbox" /><span class="c-ix-indicator"></span><span class="label-text">Some text</span></label>
              %tr
                %td
                  %label.c-ix-checkbox
                    %input{:type => "checkbox", :disabled => "disabled"}
                    %span.c-ix-indicator
                    %span.label-text Disabled
                %td
                  %code
                    :escaped
                      <label class="c-ix-checkbox"><input type="checkbox" disabled/><span class="c-ix-indicator"></span><span class="label-text">Disabled</span></label>
              %tr
                %td
                  %label.c-ix-checkbox
                    %input{:type => "checkbox", :disabled => "disabled", :checked => "checked"}
                    %span.c-ix-indicator
                    %span.label-text Checked disabled
                %td
                  %code
                    :escaped
                      <label class="c-ix-checkbox"><input type="checkbox" disabled checked/><span class="c-ix-indicator"></span><span class="label-text">Some text</span></label>
